.card-container {
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
    /* border: 1px solid grey; */
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  .imageClass{
      height:15vh;
      width:16vw;
  }
  p{   
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: left;
}